.bank-page{
  background-color: var(--black);
  min-height: 100vh;
  color: var(--white);
}

.bank-green-carpet{
  background: url("../../img/site/tapisJLgreen.jpg");
  background-size: cover;
}

.bank-gradient-carpet{
  min-height: calc(100vh - 222px);
  background: linear-gradient(var(--black), transparent, var(--black));
}

.actual-solde{
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  color: var(--white);
}

.credit{
  font-size: 1.5em;
  font-weight: bold;
}

.action-bank{
  position: relative;
  padding: 3rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  max-width: 700px;
  margin: 0 auto;
}

.action-bank img{
  width: 9rem;
  margin-bottom: 1rem;
}

.message-infobank{
  margin-bottom: .5rem;
}

.message500{
  color: #58ffa6;
  font-weight: bold;
  margin-bottom: 1rem;
}

.btn-recharge-credits{
  padding: .5rem 1.5rem;
  background-color: #2277a5;
  color: var(--white);
  border: none;
  margin: .5rem 1rem ;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: .3rem;
  cursor: pointer;
}

.btn-recharge-credits:hover{
  background-color: #438db0;
}

.btn-recharge-credits:disabled{
  background-color: #53535354;
  color: #00000027;
}

@media screen and (max-device-width : 992px){
  .bank{
    margin: 1rem .5rem;
  }

  .header-bank{
    padding: .5rem 1rem;
  }
  
  .header-bank h2{
    font-size: 1.2rem;
  }

  .actual-solde{
    padding: .3rem 0;
    font-size: .7rem;
  }
  
  .credit{
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .action-bank{
    position: relative;
    padding: 1.5rem .8rem;
    font-size: .8rem;
  }
  
  .action-bank img{
    width: 6rem;
    margin-bottom: .6rem;
  }
}