.gamble{
  display: none;
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, .95); */
  /* box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8); */
  background-image: url(../../img/gamble/tapisBlack.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gamble.show{
  display: block;
  opacity: 1;
  animation: gambleShow .7s ease-in;
}

.gamble h2{
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  margin: .8rem;
  color: var(--white);
  margin-bottom: 5px;
  text-shadow: 0 0 2px rgb(0, 0, 0),
  0 0 4px rgb(255, 240, 152),
  0 0 6px rgb(0, 0, 0),
  0 0 8px rgb(255, 231, 74),
  0 0 12px rgb(255, 229, 58),
  0 0 18px rgb(255, 225, 0),
  0 0 36px rgb(255, 225, 0);
}

.security-glass{
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
}

.security-glass.security-glass-active{
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gambling-purpose-container{
  margin-top: 6%;
}

.gambling-purpose{
  padding: 9%;
  width: 100%;
  background-image: url(../../img/gamble/tapisGoldRed.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.actions-purpose-container{
  display: flex;
  justify-content: center;
}

.message-gains-multiply{
  color: yellow;
  font-size: 1.2em;
}

.take-purpose{
  font-size: 2em;
  font-weight: bold;
  color: yellow;
  padding: 4%;
}

.lamp-container{
  width: fit-content;
  padding: 4px 10px;
  background-color: var(--grey40);
  display: flex;
  justify-content: center;
  border-radius: 60px;
  margin-bottom: 16px;
}

.lamp{
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  background-image: url(../../img/gamble/ampouleOFF.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.lamp.light-activated::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: rgb(255, 255, 134);
  box-shadow: 0 0 2px rgb(255, 246, 143),
  0 0 3px rgb(255, 246, 143),
  0 0 4px rgb(255, 235, 119),
  0 0 5px rgb(255, 231, 107),
  0 0 6px rgb(255, 231, 107),
  0 0 8px rgb(255, 231, 74),
  0 0 12px rgb(255, 229, 58),
  0 0 18px rgb(255, 225, 0),
  0 0 24px rgb(255, 225, 0),
  0 0 40px rgb(255, 208, 0);
}


.color-gemtoguess{
  position: relative;
  /* margin-bottom: -30px; */
  transition: .8s;
  transition-delay: .5s;
}

.color-gemtoguess .volet-left,
.color-gemtoguess .volet-right{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: 0s;
}

.color-gemtoguess .volet-left{
  left: 0;
  background-image: url(../../img/gamble/gemXleft.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.color-gemtoguess .volet-right{
  left: 50%;
  background-image: url(../../img/gamble/gemXright.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.color-gemtoguess .volet-left.slide{
  opacity: 0;
  animation: slideVolLeft 1.5s ease-in-out;
}

.color-gemtoguess .volet-right.slide{
  opacity: 0;
  animation: slideVolRight 1.5s ease-in-out;
}

.color-gemtoguess img{
  width: 8%;
}

.gemtoguess-card{
  border-radius: 200px;
  padding: 2px;
}

.gemtoguess-card img{
  opacity: 0;
}

.gemtoguess-card.show img{
  opacity: 1;
}

.gem-card{
  margin: 15px;
  transition: 1.5s;
  width: 30%;
}

.gem-card.active{
  animation: flipYGem .8s ease-in-out;
}

.gem-card img{
  width: 60%;
  border-radius: 50%;
  box-shadow: 
  0 0 4px white,
  0 0 8px white,
  0 0 15px white,
  0 0 30px white;
  cursor: pointer;
  transition: 1.5s;
}

.gem0 img{
  animation: gemShadow1 1.4s infinite linear;
  animation-direction: alternate-reverse;
}

.gem1 img{
  animation: gemShadow2 1.4s infinite linear;
  animation-direction: alternate-reverse;
}

.gem-card.unactive{
  margin: 0;
  width: 0;
}

.gem0.unactive{
  transform: translate(-300%, -100%);
}

.gem1.unactive{
  transform: translate(300%, -100%);
}

.gem-card.unactive img{
  width: 0;
}

.actual-gains p{
  color: yellow;
  font-size: 1.4em;
  font-weight: bold;
}

.actual-gains span{
  font-size: .8em;
}

.take-gains p{
  font-size: .8em !important;
}

.info{
  /* display: flex; */
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.info p{
  margin: 3px;
  padding: 3px;
  background-color: black;
  color: rgb(125, 218, 125);
  font-size: .7em;
}

@keyframes gemShadow1{
  0%{
    transform: scale(1) translateY(1%);
  }
  100%{
    transform:  translateY(-1%);
    box-shadow: 
    0 0 4px white,
    0 0 8px white,
    0 0 15px rgb(255, 227, 15),
    0 0 30px rgba(255, 255, 255, 0);
  }
}


@keyframes gemShadow2{
  0%{
    transform:  translateY(-1%);
    box-shadow: 
    0 0 4px white,
    0 0 8px white,
    0 0 15px rgb(255, 24, 24),
    0 0 30px rgba(255, 255, 255, 0);
  }
  100%{
    transform: scale(1) translateY(1%);
  }
}

@keyframes flipYGem{
  0%{
    transform: rotateY(0);
  }
  50%{
    scale: 1.4;
  }
  100%{
    transform: rotateY(360deg);
  }
}

@keyframes gambleShow{
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes gambleHide{
  0%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes scCardInstruction{
  0%{
    scale: 1;
    color: rgb(255, 255, 105);
  }
  50%{
    scale: .92;
    color: rgb(255, 153, 0);
  }
  100%{
    scale: 1;
    color: rgb(255, 255, 105);
  }
}

@keyframes slideVolLeft {
  0%{
    left: 0;
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    left: -5%;
    opacity: 0;
  }
}

@keyframes slideVolRight {
  0%{
    left: 50%;
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    left: 55%;
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .gamble{
    font-size: .7rem;
    line-height: .7rem;
  }

  .gamble h2{
    font-size: .8rem;
    margin-bottom: 0;
  }

  .lamp-container{
    scale: .5;
    margin-top: -5px;
  }

  .color-gemtoguess{
    transform: translateY(-20px);
    margin-bottom: -50px;
  }

  .options-choice{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(97, 14, 69, 0.402);
  }

  .actual-gains{
    font-size: .5rem;
  }

  .take-gains{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .take-gains button{
    width: 40px !important;
    height: 30px !important;
    font-size: .8em;
    padding: 0;
    /* transform: translateY(-10px); */
  }


}

@media screen and (max-width: 768px) {
  .message-gains-multiply{
    font-size: .9em;
  }

  .take-purpose{
    font-size: 1.4em;
    padding: 0;
  }

  .gambling-purpose .btn-bet.large{
    width: 75px !important;
    height: 25px !important;
    font-size: 1.1em;
  }
}